/*
 * Estilos de tu proyecto
 */


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
    overflow-x: hidden;
}

.tipografia-monserrat{
  font-family: 'Montserrat', sans-serif;
}

.tipografia-lato{
  font-family: 'Lato', sans-serif;
}

.text-uppercase {
  text-transform: uppercase;
}


nav{
  line-height: 16px;
}

header{
  background-color:#2c3e50;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  font-weight: 700px;
  padding: 20px 100px 20px 100px;
  z-index: 1000;
  padding-top: 25px;
  padding-bottom: 25px;
}

.start{
  color:#fff;
  display: inline-block;
  font-weight: bold;
  font-size: 1.5em;
}

li{
  color: #fff;
  display: inline-block;
  margin-right: 15px;
}

li:hover{
  color: #18bc9c;
}

ul{
  float: right;
  font-weight: bold;
}

.firtssection{
  background-color: #18bc9c;
}

.firtssection #principal {
  font-size: 4.75em;
  color: white;
  font-weight: 700;
  text-align: center;
  display: block;
}

.divfirtssection{
  text-align: center;
}

.divfirtssection hr{
  background-color: white;
}

.divfirtssection span i{
  font-size: 30px;
  color: white;
}

hr{
  border: none;
  display: inline-block;
  width: 110px;
  height: 5px;
}

#profile{
  text-align: center;
  margin-top: 68px;
}

#profile img{
  padding-top: 80px;
  padding-bottom: 30px;
}

.firtssection p{
  margin-top: 15px;
  padding-bottom: 100px;;
  font-size:1.75em;
  font-weight: 300;
  text-align: center;
  color: white;
}

.secondsection{
  margin-top: 90px;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.divsecondsection hr{
  background-color: #2c3e50;
}

.divsecondsection span i{
  font-size: 30px;
  color: #2c3e50;
}
